!!!
%head
	%meta(charset='utf-8')
	%title {{ page.title }}
	%link(rel="stylesheet" href="/css/syntax.css")
	%link(rel="stylesheet" href="/css/main.css")
%body
	.header
		%h1.title
			%a(href='/') {{ site.name }}
		%hr/

	{{ content }}
	